body {
  font-family: "Roboto", sans-serif;
}


#countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  border: 4px
}

.center {
  text-align: center;
}

.card {
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 16px;
  margin: 20px;
  object-fit: contain;
}

#flag-image {
  border-radius: 16px 16px 0 0;
  max-width: 80%;
  max-height: 80px;
}

h1 {
  max-width: 80%;
  margin: 20px;
  font-size: 6px;
  font-size: small;
  font-style: oblique;
  word-wrap: break-word;
  color: rgb(11, 11, 17);
}


@media only screen and (min-width: 700px) {}


@media only screen and (min-width: 1200px) {}